.leaflet-popup-content-wrapper
    border-radius: 2px !important

.leaflet-popup-content
    margin: 7px !important

.leaflet-popup-content h1
    margin-bottom: 0 !important

.leaflet-tile-container .media-outlined, .leaflet-tile-container img
    border-radius: 0  !important
