.sidebar
  float: left
  padding: 10px
  width: 30%
  height: 100%
  overflow-x:hidden
  overflow-y: auto

.pagination a
  font-size: 14px

.zone-header
  font-size: 11px
  color: #999

.counts-toggle
  font-size: 11px

.destination-zone
  font-size: 24px
  margin-bottom: 3px

.destination-count
  font-size: 24px
  margin-bottom: 10px

.list-unstyled.list-inline.pagination
  margin-bottom: 10px

.count-row
  margin-bottom: 5px
  float: left
  width: 100%

.progress-large
  height: 20px
  border-radius: 10px

.progress .meter
  background-color: $piq-purple
  border-radius: 10px
  min-width: 3em

.progress .meter-label
  float: right
  margin-top: 9px
  margin-right: 5px
  color: white
  font-size: 12px

.zone-label
  font-size: 13px
  text-transform: uppercase
