.count-row
  margin-bottom: 5px

.progress-large
  height: 20px
  border-radius: 10px

.progress .meter
  background-color: $piq-purple
  border-radius: 10px

.progress .meter-label
  float: right
  margin-top: 9px
  margin-right: 5px
  color: white
  font-size: 0.75em

.zone-label
  font-size: 0.75em
  text-transform: uppercase
